/*Eliminamos los margenes y paddings que agrega el navegador por defecto*/
* {
  padding: 0;
  margin: 0;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width:100%;
}

.header{
    background:#f1f1f1;
    height: 55px;
    width: 100%;
    border-bottom: 1px solid #ccc;
    float: left;
    position:fixed;
}

.header__logo{
    width: 3%;
    height: 40px;
    padding-top:5px
    
}

.header__title{
    font-size: 25px;
}

.header__exit{
    float: right;
    margin: 9px 5px;
}

.sidebar{
    background:#f1f1f1;
    width: 150px;
    height: 100%;
    border-right: 1px solid #ccc;
    float:left;
    margin-top: 56px;
    position:fixed
    
}

.sidebar__avatar{
    height: 100px;
    padding: 15px 15px;
}

.sidebar__line{
    width: 60%;
    margin: auto;
}

.sidebar__menu{
    height: 5px;
}

.sidebar__menu li{
    font-size: 15px;
    padding: 15px 15px;
    list-style:none;
    text-decoration: none;
} 

.sidebar__menu li:hover{
    margin-left: 20px;
    transition: 0.4s;
}

.content{
    background:cadetblue;
    margin:56px 0 0 150px;
    width: 100%;
    height: 100%;
    position:fixed;
    
}

.content__altapaciente{
    padding-top:20px;
    background: cadetblue;
    text-align:center;
}

.form-altapaciente{
    background: red;
    text-align:left;
    heigth:500px

}
.form-altapaciente__titulo{
    margin:0 0 0 20px;
    padding-top: 10px;
    display:flex;
    flex-direction: column;
    width: 90%;
}

.form-altapaciente__textArea{
    margin:0 0 0 20px;
}
