 .App {
  text-align: center;
}

body {
  text-align: center;
  margin: 0px;
  padding: 0px;

  /*FUENTES*/
  font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
}

#header {
  height: 55px;
  width: 100%;
  background: #f4f6f8;
  border-bottom: 1px solid #ccc;
  border-top: 5px solid #263238;
}

.center {
  width: 100%;
  margin: 10px 5px 10px;
}

.clearfix {
  clear: both;
  float: none;
}

#logo {
  width: 30%;
  font-size: 30px;
  float: left;
}

#logo img {
  display: block;
  float: left;
  height: 40px;
  margin-top: -5px;
  margin-left: 3px;
}

#brand {
  display: block;
  margin: 5px;
  float: left;
  font-size: 20px;
}

#exit-app {
  /* display: block; */
  float: right;
  margin-right: 15px;
}

.sideContainer {
  height: 100%;
  position: fixed;
  background: #f4f6f8;
  border-right: 1px solid #ccc;
  width:200px;
  float: left;
  padding: 4px;
  text-align: left;
  display: block;
}
.avatar-side{
  width: 150px;
  height: 150px;
  border-bottom: 1px solid #ccc;
  margin: auto;
}

#sidebar li {
  list-style:none;
  padding: 5px;
}

.active{
  border-bottom: 2px solid red;
}