/*Eliminamos los margenes y paddings que agrega el navegador por defecto*/
* {
  padding: 0;
  margin: 0;
}

.header{
    background:#f1f1f1;
    height: 55px;
    width: 100%;
    border-bottom: 1px solid #ccc;
}

.header__logo{
    width: 3%;
    height: 40px;
    padding-left: 14px;

}

.header__title{
    padding-bottom: 15px;
    font-size: 25px
}

.header__exit{
    float: right;
    margin: 9px 5px;
}

.sidebar{
    background:#F1F1F1;
    width: 10%;
    position: fixed;
    height: 100%;
    border-right: 1px solid #ccc;
}

.sidebar__avatar{
    height: 100px;
    padding: 15px 15px;
}

.sidebar__line{
    width: 60%;
    margin: auto;
}

.sidebar__menu{
    height: 5px;
}

.sidebar__menu li{
    font-size: 20px;
    padding: 15px 15px;
} 

.sidebar__link{
    text-decoration: none;
} 


.altapaciente{
    width:90%;
    float:right;
    
}

.form-altapaciente__nombre{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
.form-altapaciente__apellido{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    float: rigth;
}



